* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --primary-color: #038d64;
    --grey-900: #0d1919;
    --grey-800: #121b22;
    --grey-700: #1f2c34;
    --grey-600: #9f9fa1;
    --grey-500: #dfdfe1;
    --grey-300: #fefff6;
    --grey-200: #f1f2f6;
    --green-400: #138b80;
    --green-300: #2dca7a;
    --green-100: #dcf8c6;
    --primary-font: "Roboto", sans-serif;
}

body {
    background-color: var(--primary-color);
    padding: 40px;
}

.app {
    max-width: 1100px;
    background-color: var(--grey-800);
    margin: auto;
    display: grid;
    grid-template-columns: 320px 1fr;
    border-radius: 20px;
    height: 90vh;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

/* aside styles */

aside {
    background-color: var(--grey-900);
    color: var(--grey-300);
}

aside header {
    background-color: var(--grey-800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px;
    border-radius: 50%;
}

.profile h2 {
    font-size: 22px;
}

.actions {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.actions button {
    padding: 7px;
    border: none;
    background-color: var(--grey-800);
    border-radius: 8px;
    cursor: pointer;
    color: var(--grey-300);
    transition: transform .2s;
}

.actions button svg {
    width: 20px;
}

.actions button:hover {
    background-color: var(--grey-700);
    transform: translateY(-4px);
}

/* search input */

.search {
    background-color: #141e25;
    padding: 10px;
}

.search form input {
    background-color: var(--grey-700);
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
}

input[type="search"]::placeholder {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

.search input:focus {
    background-color: #141e25;
    outline: 1px solid var(--green-300);
}

/* chats styles */

.chats ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-chat {
    background-color: var(--grey-900);
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 0px 5px;
    align-items: center;
    border-radius: 15px;
}

.user-chat img {
    border-radius: 50%;
    width: 50px;
}

.user-chat:hover {
    background-color: var(--grey-700);
    cursor: pointer;
}

/* messages panel */

.chat-header {
    background-color: var(--grey-800);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid var(--grey-700);
}

.chat-header img {
    width: 50px;
    border-radius: 50%;
}

.chat-header h3 {
    color: var(--grey-300);
}


.chat-header p {
    color: var(--grey-600)
}

/* messages styles */

.chat-panel {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.messages {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.message {
    background-color: var(--grey-900);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 2px 6px rgba(46, 46, 46, 0.238);
}

.message .time {
    color: var(--grey-600);
    text-align: end;
    margin-top: 10px;
    font-size: 14px;
}

.me {
    align-self: end;
    background-color: var(--green-100);
    color: black;
}

/* footer styles */

footer {
    background-color: var(--grey-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

footer button {
    width: 25px;
    height: 25px;
    padding: 3px;
}

footer svg {
    width: 100%;
    height: 100%;
}

footer .attach {
    background-color: transparent;
    border: none;
    color: var(--grey-600);
    cursor: pointer;
    transition: color .2s;
}

footer .attach:hover {
    color: var(--grey-200);
}

footer form {
    display: flex;
    align-items: center;
    flex: 1;
}

footer textarea {
    background-color: var(--grey-800);
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    resize: none;
    border: none;
    caret-color: var(--green-300);
    color: white;
}

form textarea[type="text"]::placeholder {
    font-size: 15px;
    font-weight: 700;
}

footer .send {
    background-color: #2dca7a;
    color: white;
    border: none;
    border-radius: 20px;
    width: 45px;
    height: 32px;
    padding: 5px;
    transition: all .1s;
    cursor: pointer;
}

footer .send:hover {
    background-color: #138b80;
    transform: scale(0.98);
}

/* responsive */

@media (max-width:880px) {
    .app {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }
}